<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 관리</title>
    <link rel="stylesheet" th:href="@{/css/book.css}" />
</head>
<body>
    <div class="container">
        <h2>REST 도서 목록</h2>
        <table class="book_list">
            <colgroup>
                <col width="15%" />
                <col width="*" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">도서 ID</th>
                    <th scope="col">제목</th>
                    <th scope="col">저자</th>
                    <th scope="col">출판일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.size(list)} > 0" th:each="dto : ${list}">
                    <td th:text="${dto.bookId}"></td>
                    <td class="title">
                        <a href="/jpa/book/" th:attrappend="href=${dto.bookId}" th:text="${dto.title}"></a>
                    </td>
                    <td th:text="${dto.author}"></td>
                    <td th:text="${dto.publishDate}"></td>
                </tr>
                <tr th:unless="${#lists.size(list)} > 0">
                    <td colspan="4">조회된 결과가 없습니다.</td>
                </tr>
            </tbody>
        </table>
        <a href="/jpa/book/write" class="btn">도서 등록</a>
    </div>
</body>
</html>
